body {
  background-color: hsl(67.5deg 10% 84.31%);
  margin: 0;
  padding: 0;
}

/* Crea un wrapper con uno sfondo diverso */
.wrapper {
  background-color: hsl(174.4deg 100% 29.41%);
  padding: 20px;
  min-height: 150px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute; /* Per sovrapporre la card al wrapper */
  top: 50%; /* Posiziona la card al centro verticalmente */
  left: 50%; /* Posiziona la card al centro orizzontalmente */
  transform: translate(-50%, -50%);
  z-index: 2; /* Posiziona la card sopra il wrapper */
  min-width: 1300px; /* Imposta la larghezza al 100% */
  height: 95%; /* Imposta l'altezza al 100% */
}

/* DIVISIONE CARD */

.container {
  width: 100%;
  height: 100%;
}

/* HEADER */
header {
  min-height: 60px;
  padding: 5px;
  background-color: #eaeaea;
}

/* COLONNA SINISTRA */
.col-sx {
  width: 40%;
  overflow-y: auto;
}

.col-sx img {
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

.notifiche {
  min-height: 60px;
  padding: 15px;
  background-color: hsl(198.55deg 94.83% 77.25%);
}

.notifiche .fa-solid {
  background-color: white;
  color: hsl(198.55deg 94.83% 77.25%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  margin-right: 7px;
}

.ricerca {
  background-color: #eaeaea;
  padding: 10px;
  height: auto;
}

.ricerca .btn {
  background-color: white;
}

.chat {
  min-height: 70px;
  padding: 15px;
}

.chat.active,
.chat:hover {
    background-color: #eaeaea;
    cursor: pointer;
}


.chat img {
  margin-right: 10px;
}

/* COLONNA DESTRA */

.col-dx {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.col-dx img {
  width: 50px;
  height: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

.messages {
    flex-grow: 1;
    background-image: url("../img/mine.jpg");

    padding: 0.5rem;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.messages > .message {
  max-width: 60%;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  align-self: flex-start;
}

.messages > .message.sent {
  background-color: green;

  align-self: flex-end;

  text-align: end;
}

.messages > .message.received {
  background-color: lightgray;

  min-width: 200px;
}

/* UTILITIES */

.fa-solid {
  color: #b1b1b1;
}

.font-size-sm {
  font-size: 12px;
}

.font-size-md {
  font-size: 14px;
}

.align-self {
  align-self: flex-start;
}
