<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- VueJs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- JS -->
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="wrapper"></div>

      <!-- CARD -->
      <div class="card">
        <div class="container d-flex g-0">
          <!-- COLONNA SINISTRA -->
          <div class="col-sx">
            <!-- Header -->
            <header
              class="d-flex justify-content-between border-bottom align-items-center"
            >
              <span class="d-flex align-items-center">
                <img src="img/avatar_io.jpg" alt="" />
                <span>Sofia</span>
              </span>
              <span class="d-flex">
                <span class="p-2"
                  ><i class="fa-solid fa-circle-notch fa-lg"></i
                ></span>
                <span class="p-2"
                  ><i class="fa-solid fa-message fa-lg"></i
                ></span>
                <span class="p-2"
                  ><i class="fa-solid fa-ellipsis-vertical fa-xl"></i
                ></span>
              </span>
            </header>

            <!-- BARRA NOTIFICHE -->
            <div class="notifiche d-flex align-items-center">
              <span><i class="fa-solid fa-bell-slash fa-lg"></i></span>

              <div class="d-flex flex-column">
                <span class="font-size-md"
                  >Ricevi notifiche di nuovi messaggi</span
                >
                <span class="fw-lighter font-size-sm text-decoration-underline"
                  >Attiva notifiche dekstop</span
                >
              </div>
            </div>

            <!-- BARRA DI RICERCA -->
            <div class="ricerca">
              <div class="input-group">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon1"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input
                  type="text"
                  class="form-control fw-lighter font-size-sm"
                  placeholder="Cerca o inizia una nuova chat"
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                />
              </div>
            </div>

            <!-- LISTA CHAT -->
            <!-- 1 CARD -->
            <div class="chats">
              <div
                class="chat d-flex justify-content-between border-bottom align-items-center"
                v-for="(contact, index) in contacts"
                @click="setActiveContactIndex(index)"
              >
                <span class="d-flex">
                  <img :src="contact.avatar" alt="" />

                  <div class="d-flex flex-column">
                    <span>{{ index }} - {{ contact.name }}</span>
                    <span class="fw-lighter font-size-sm"
                      >Ultimo messaggio inviato</span
                    >
                  </div>
                </span>
                <span class="align-self fw-lighter font-size-sm">12:00</span>
              </div>
            </div>
          </div>

          <!-- COLONNA DESTRA -->
          <div class="col-dx">
            <!-- Header -->
            <header class="d-flex justify-content-between border-bottom">
              <span class="d-flex align-items-center">
                <img :src="contacts[activeContactIndex].avatar" alt="" />

                <div class="d-flex flex-column">
                  <span>{{ contacts[activeContactIndex].name}}</span>
                  <span class="fw-lighter font-size-sm"
                    >Ultimo accesso oggi alle 12:00</span
                  >
                </div>
              </span>

              <span class="d-flex">
                <span class="p-2"
                  ><i class="fa-solid fa-magnifying-glass fa-lg"></i
                ></span>
                <span class="p-2"
                  ><i class="fa-solid fa-paperclip fa-lg"></i
                ></span>
                <span class="p-2"
                  ><i class="fa-solid fa-ellipsis-vertical fa-xl"></i
                ></span>
              </span>
            </header>

            <!-- MAIN -->
            <div class="messages">
              <div
                class="message"
                :class="message.status"
                v-for="message in contacts[activeContactIndex].messages"
              >
                {{ message.message }}
              </div>
            </div>

            <!-- FOOTER -->
            <div class="input-group">
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon1"
              >
                <i class="fa-solid fa-face-smile"></i>
              </button>
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon1"
              >
                <i class="fa-solid fa-microphone"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
